.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.gdbindexes
sws.gdb/a00000001.gdbtable
*.atx
sws.gdb/a00000006.gdbtable
*.gdbtablx
*.spx
*.gdbtable
_data/sws/sws.gdb/gdb
*.lock
_data/sws/sws.gdb/timestamps
*timestamps
sws.gdb/gdb
*.xlsx
_data/output/sws/sws.gdb/gdb
*.sqlite
_data/input/lu_muni_names.csv
*.csv
*.xml
COA_Update.gdb/a00000009.freelist
*.freelist
COA_Update.gdb/timestamps
*.dir
Index/COA_Update/_2.cfs
*.gen
Index/COA_Update/log.txt
*.aprx
*.tbx
*.ini
COA_Update.gdb/gdb
*.jpg
*.del
Index/COA_Update/_3.cfs
Index/COA_Update/segments_5
_data/output/sws/sws.gdb/timestamps
*.pdf
*.txt
*.sqlite-journal
*.dbf
*.prj
*.shp
*.shx
_data/output/sws/sws_new.gdb/gdb
*.mxd
*.cfs

sws_azure.gdb/gdb
sws_azure.gdb/timestamps
*.cpg
_data/input/SGCN_data/PFBC_BrookTrout/PA_WildTrout_BrookTroutOnly_NR_Mar2016Export.sbx
*.sbn
_tmp/range_maps/SGCNrange_huc08_2018_12.gdb/timestamps
_data/output/sws/sws_new1.gdb/timestamps
_data/output/sws/sws_new1.gdb - Copy/timestamps
_data/output/sws/sws_new1.gdb/gdb
sws_new1.gdb/gdb
sws_new1.gdb/timestamps
_data/input/SGCN_data/PFBC_BrookTrout/PFBC_BrookTrout/Default.gdb/gdb
_data/input/SGCN_data/PFBC_BrookTrout/PFBC_BrookTrout/Index/PFBC_BrookTrout/segments_2
_data/output/sws/sws_new1.gdb - Copy/gdb
_data/*
Index/*
*gdb*
Index/COA_Update/segments_4